# THỰC HÀNH PHÂN TÍCH THỐNG KÊ NHIỀU CHIỀU
## TUẦN 1: ĐẶC TRƯNG MẪU
### Bài 1: Cho bảng số liệu về điểm các môn: toán, tiếng anh, lịch sử, địa lí, hoá học, vật lí của 5 học sinh như sau:

In [1]:
data <- read.csv("hocsinh.csv")
attach(data)
data

  hocsinh toan tienganh lichsu diali hoahoc vatli
1 1       60   70       75     58    53     42
2 2       80   65       66     75    70     76
3 3       53   60       50     48    45     43
4 4       85   79       71     77    68     79
5 5       45   80       80     84    44     46

#### a) Xét mẫu số liệu gồm 4 biến về điểm toán, lịch sử, địa lí, vật lí được lấy trên 5 học sinh. Tính kỳ vọng mẫu.

In [2]:
colMeans(data[, c("toan", "lichsu", "diali", "vatli")])

  toan lichsu  diali  vatli
  64.6   68.4   68.4   57.2

#### b) Tính phương sai mẫu, biết:
1. Mẫu gồm 6 biến về điểm toán, tiếng anh, lịch sử, địa lí, hoá học, vật lí và số liệu được lấy trên 3 học sinh 1, 3, 5.

In [3]:
var(data[c(1, 3, 5), -1])

         toan       tienganh lichsu    diali      hoahoc     vatli
toan       56.33333 -40      -23.33333 -101.33333  33.166667 -15.166667
tienganh  -40.00000 100      150.00000  180.00000  -5.000000  15.000000
lichsu    -23.33333 150      258.33333  243.33333  20.833333  14.166667
diali    -101.33333 180      243.33333  345.33333 -31.666667  33.666667
hoahoc     33.16667  -5       20.83333  -31.66667  24.333333  -7.833333
vatli     -15.16667  15       14.16667   33.66667  -7.833333   4.333333

2. Mẫu gồm 3 biến về điểm tiếng anh, lịch sử, địa lí và số liệu được lấy trên 5 học sinh.

In [4]:
var(data[, c("tienganh", "lichsu", "diali")])

         tienganh lichsu diali
tienganh  75.70    83.85 101.10
lichsu    83.85   132.30 123.55
diali    101.10   123.55 221.30

#### c) Tìm tương quan mẫu gồm 6 biến về điểm toán, tiếng anh, lịch sử, địa lí, hoá học, vật lí và số liệu được lấy trên 4 học sinh 1, 2, 3, 5.

In [5]:
cor(data[c(1, 2, 3, 5), -1])

         toan       tienganh   lichsu      diali     hoahoc      vatli
toan      1.0000000 -0.4756432 -0.15962821 0.0499709  0.98252164  0.8659342
tienganh -0.4756432  1.0000000  0.91478344 0.7594311 -0.30832214 -0.2191244
lichsu   -0.1596282  0.9147834  1.00000000 0.7256648  0.00420698 -0.0439679
diali     0.0499709  0.7594311  0.72566484 1.0000000  0.23015519  0.4418165
hoahoc    0.9825216 -0.3083221  0.00420698 0.2301552  1.00000000  0.9103917
vatli     0.8659342 -0.2191244 -0.04396790 0.4418165  0.91039165  1.0000000

### Bài 2: Bảng số liệu dưới đây được thu thập trong một nghiên cứu ô nhiễm không khí tại các thành phố ở Mỹ. Số liệu về các biến sau được cho bởi 13 thành phố:

In [6]:
data <- read.csv("thanhpho.csv")
data <- na.omit(data)
attach(data)
data

   ThanhPho    SO2 NhietDo SoLuong DanSo Gio  LuongMua SoNgay
1  Albany       46 47.6      44     116   8.8 33.36    135
2  Albuquerque  11 56.8      46     244   8.9  7.77     58
3  Atlanta      24 61.5     368     497   9.1 48.34    115
4  Baltimore    47 55.0     625     905   9.6 41.31    111
5  Buffalo      11 47.1     391     463  12.4 36.11    166
6  Charleston   31 55.2      35      71   6.5 40.75    148
7  Chicago     110 50.6    3344    3369  10.4 34.44    122
8  Cincimnati   23 54.0     462     453   7.1 39.04    132
9  Cleveland    65 49.7    1007     751  10.9 34.99    155
11 Columbus     26 51.5     266     540   8.6 37.01    134
12 Dallas        9 66.2     641     844  10.9 35.94     78
13 Denver       17 51.9     454     515   9.0 12.95     86
14 Des Moines   17 66.2     104     201  11.2 30.85    103

- SO2: hàm lượng SO2 trong không khí (microgam/m3)
- Nhiệt độ: nhiệt độ trung bình hằng năm (độ F)
- Số lượng: số lượng doanh nghiệp sản xuất sử dụng 20 công nhân trở lên
- Dân số: quy mô dân số (điều tra dân số năm 1970) (nghìn người)
- Gió: tốc độ gió trung bình hằng năm (dặm/giờ)
- Lượng mưa: lượng mưa trung bình hằng năm (inch)
- Số ngày: số ngày trung bình mưa mỗi năm

#### a) Tính kỳ vọng mẫu gồm 7 biến được lấy số liệu tại Albany, Atlanta, Chicago, Cleveland, Colombus và Denver.

In [7]:
colMeans(data[ThanhPho %in% c("Albany", "Atlanta", "Chicago",
                              "Cleveland", "Colombus", "Denver"), -1])

     SO2  NhietDo  SoLuong    DanSo      Gio LuongMua   SoNgay
  52.400   52.260 1043.400 1049.600    9.640   32.816  122.600

#### b) Với mẫu gồm 3 biến về hàm lượng SO2 trong không khí, nhiệt độ và lượng mưa trung bình hằng năm tại 13 thành phố, hãy tính phương sai mẫu.

In [8]:
var(data[, c("SO2", "NhietDo", "LuongMua")])

         SO2       NhietDo    LuongMua
SO2      800.25641 -74.346154  68.537885
NhietDo  -74.34615  40.305641   5.263564
LuongMua  68.53788   5.263564 123.625556

#### c) Tính tương quan mẫu gồm 7 biến được lấy số liệu tại 13 thành phố.

In [9]:
cor(data[, -1])

         SO2         NhietDo     SoLuong     DanSo        Gio
SO2       1.00000000 -0.41396251  0.84591537  0.807019185  0.07646802
NhietDo  -0.41396251  1.00000000 -0.21704236 -0.165891223  0.06675519
SoLuong   0.84591537 -0.21704236  1.00000000  0.987234132  0.28081179
DanSo     0.80701918 -0.16589122  0.98723413  1.000000000  0.27592065
Gio       0.07646802  0.06675519  0.28081179  0.275920653  1.00000000
LuongMua  0.21790239  0.07456635  0.10401331  0.100294271 -0.03694089
SoNgay    0.30964422 -0.59605400  0.08084323  0.002008666  0.02528770
         LuongMua    SoNgay
SO2       0.21790239  0.309644222
NhietDo   0.07456635 -0.596054002
SoLuong   0.10401331  0.080843227
DanSo     0.10029427  0.002008666
Gio      -0.03694089  0.025287695
LuongMua  1.00000000  0.615649296
SoNgay    0.61564930  1.000000000